<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.huawei.a2hdemo">

    <uses-permission android:name="huawei.permission.GET_DISTRIBUTED_APP_SIGNATURE" />
    <uses-permission android:name="huawei.permission.GET_DISTRIBUTED_DEVICE_INFO" />
    <uses-permission android:name="huawei.permission.DISTRIBUTED_DEVICE_STATE_CHANGE" />
    <uses-permission android:name="com.huawei.hwddmp.servicebus.BIND_SERVICE"/>
    <uses-permission android:name="com.huawei.permission.DISTRIBUTED_DATASYNC" />
    <uses-permission android:name="com.huawei.permission.FA_ACCESS_DATA" />
    <uses-permission android:name="ohos.permission.GET_BUNDLE_INFO" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="library"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="AllowBackup"
        tools:targetApi="donut">
        <service
            android:name=".app.GameService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.huawei.aa.action.SERVICE"/>
            </intent-filter>
        </service>
    </application>

</manifest>